textarea {
    font-size: 22px;
    border-radius: 10px;
    border: 2px solid #040404;
}

.saveNote {
    background-color: rgb(33, 216, 48);
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.saveNote:hover{
    background-color: rgb(26, 160, 37);
    cursor: pointer;
}

.saveNote:active{
    transform: scale(0.97);
    box-shadow:#040404;
}
